<!-- Tags -->
<tag>
    <bla>
        <opa>Texto</opa>
        <opa>Texto</opa>
        <opa>Texto</opa>
        <opa>Texto</opa>
        <opa>Texto</opa>
    </bla>
</tag>

<!-- HTML sem fechamento--> 
<meta><br><input>

<!-- HTML com fechamento -->
<tag /><meta /><br /><input />

<!-- Parametros na Tag -->
<tag param1="valor1" param2='valor2'>
    Texto
</tag>

<tag param1="valor1" param2='valor2' />

<input type="button" value="Processar!" />

<!-- Parametros externos -->
<input type="text" cod3r-cpf />