<h1>Formulário</h1>

<form method="POST">

    <input type="hidden" name="id" value="3">

    <input type="text" name="name">
    <input type="password" name="password">

    <textarea name="bio" cols="30" rows="10"></textarea>

    <div>
        <input type="radio" name="tipo" value="organizador">Organizador
        <input type="radio" name="tipo" value="organizacao">Organização
    </div>

    <div>
        <input type="checkbox" name="ativo">Ativo
    </div>

    <select name="estado">
        <option value="ac">Acre</option>
        <option value="mg">Minas Gerais</option>
        <option value="rj">Rio de Janeiro</option>
        <option value="sp">São Paulo</option>
    </select>

    <select name="checklist" multiple size="5">
        <option value="bermuda">Bermuda</option>
        <option value="camisa">Camisa</option>
        <option value="oculos">Óculos Escuro</option>
        <option value="sunga">Sunga</option>
        <option value="tenis">Tênis</option>
    </select>

    <button formaction="http://localhost:3003/usuarios">Incluir</button>
    <button formaction="http://localhost:3003/usuarios/3">Editar</button>

</form>

<style>
    input,
    textarea,
    select {
        display: block;
        margin-bottom: 10px;
    }

    input[type=radio],
    input[type=checkbox] {
        display: inline;
    }
</style>