<h1>Links</h1>

<!-- URL Absoluta -->
<a href="https://www.google.com.br">Google 1</a>
<br />
<a href="https://www.google.com.br" target="_blank">Google 2</a>

<br /><br />

<!-- URL Relativa -->
<a href="index.html">Voltar 1</a>
<br />
<a href="/index.html">Voltar 2</a>
<br />
<a href="../index.html">Voltar 3</a>

<br /><br />

<!-- E-mail -->
<a href="mailto:email@empresa.com.br">Entre em contato</a>

<br /><br />

<!-- Âncora -->
<div id="noticia" style="position: absolute; top: 2000px;">
    <h1>Notícia Bomba</h1>
    <p>Não é nada demais... xD</p>
</div>

<a href="#noticia">Ir para Notícia</a>

