<h1>Listas</h1>

<!-- Lista Ordenada -->
<h2>Aprovados</h2>
<ol>
    <li>Bia</li>
    <li>Pedro</li>
    <li>Ana</li>
    <li>João</li>
</ol>

<!-- Lista Não Ordenada -->
<h2>Lista de Compras</h2>
<ul>
    <li>Quejo</li>
    <li>Leite</li>
    <li>Arroz</li>
    <li>Pão</li>
</ul>

<!-- Lista de Definições -->
<h2>Principais termos do glossssário de Cloud Computing</h2>
<dl>
    <dt>BaaS</dt>
    <dd>Backend como serviço</dd>
    <dt>IaaS</dt>
    <dd>Infrainstrutura como serviço</dd>
    <dt>PaaS</dt>
    <dd>Plataforma como serviço</dd>
    <dt>SaaS</dt>
    <dd>Software como serviço</dd>
</dl>