<table>
    <caption>Produtos</caption>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>iPad</td>
            <td>3.289,00</td>
            <td>5</td>
            <td>16.445,00</td>
        </tr>
        <tr>
            <td>Samsung S9</td>
            <td>4.000,00</td>
            <td>4</td>
            <td>16.000,00</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total: </td>
            <td>32.445,00</td>
        </tr>
    </tfoot>
</table>

<style>
    table {
        border-collapse: none;
    }

    th, td {
        padding: 10px;
    }

    thead tr {
        border-bottom: solid 2px #444444;
    }

    tbody tr:hover {
        background-color: #dedede;
    }

    tfoot {
        background-color: #444444;
        color: #ffffff;
        font-weight: bold;
    }
</style>