<h1>Tags Não Visuais</h1>

<!--

Tags Semânticas...

section — agrupamento temático de conteúdo
article — conteúdo auto-contido
header — cabeçalho do documento
footer — rodapé do documento
nav — agrupa os links de navegação
aside — de lado (ex. sidebar)
details — exibe detalhes que podem ser exibidos ou escondidos


As famosas...

div — divisão ou seção (por padrão é display: block)
span — usado para agrupar elementos inline
-->

<div>Área 1</div>
<div>Área 2</div>

<p>Esse é um texto com <span class="diferente">muitas palavras</span> e ponto.</p>

<style>
    div {
        display: inline;
    }

    span {
        display: block;
    }

    .diferente {
        color:chocolate;
        font-size: 30px;
        font-weight: bold;
    }
</style>