<!-- Cabeçalhos -->
<h1>Cabeçalho Principal</h1>
<h2>Cabeçalho Nível 2</h2>
<h3>Cabeçalho Nível 3</h3>
<h4>Cabeçalho Nível 4</h4>
<h5>Cabeçalho Nível 5</h5>
<h6>Cabeçalho Nível 6</h6>

<!-- Parágrafos -->
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat eum odio libero laudantium ullam, doloribus animi
    fugiat ad eveniet temporibus saepe nihil molestiae ex, iure quibusdam assumenda autem molestias sequi.
</p>

<!-- Negrito e Itálico -->
<p>
    Texto em <b>negrito</b> e <i>itálico</i>
</p>

<!-- Sobrescrito e Subscrito -->
<p>
    2<sup>2</sup> = 4 e H<sub>2</sub>O = Água
</p>

<!-- Espaço em branco -->
<p>
    Espaço      entre           palavras
</p>