body {
  background-color: #987987;
  background-image: url(6777486e7ac73f627f41dceddc0eedd1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #5b5dff;
  color: #ffffff;
  font-size: 1.8em; }

