<div class="jumbotron p-4 my-1">
    <h1 class="display-4">
        Fundamentos
    </h1>
    <p class="lead m-1">Alguns recursos importantes do Bootstrap</p>
</div>

<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#/bemVindo.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Fundamentos</li>
    </ol>
</nav>

<div class="exercicio">
    <h1>1. Tipografia -
        <small>
            <a href="https://getbootstrap.com/docs/4.0/content/typography/" target="_blank">Documentação Oficial</a>
        </small>
    </h1>
    <hr>

    <ul>
        <li><strong>Reboot</strong> - Torna consistente o estilo entre diferentes browser!</li>
        <li><strong>Rems</strong> - Baseado no raiz</li>
        <li>Evita <strong>margin-top</strong> - Provavelmente será necessário adicionar algum espaço</li>
        <li><strong>box-sizing</strong> border-box</li>
        <li>Fontes nativas</li>
    </ul>

    <h1 class="mt-5">2. Espaços -
        <small>
            <a href="https://getbootstrap.com/docs/4.0/utilities/spacing/" target="_blank">Documentação Oficial</a>
        </small>
    </h1>
    <hr>

    <!-- Espaços -->
    <div class="mb-5">1</div>
    <div class="m-4 py-4">2</div>
    <div class="pt-5">3</div>

    <h1 class="mt-5">3. Cores -
        <small>
            <a href="https://getbootstrap.com/docs/4.0/utilities/colors/" target="_blank">Documentação Oficial</a>
        </small>
    </h1>
    <hr>

    <!-- Cores -->
    <div class="my-1 p-3 bg-primary text-light">
        1
    </div>

    <div class="my-1 p-3 bg-danger text-white">
        2
    </div>

    <div class="my-1 p-3 bg-warning text-success">
        3
    </div>

    <h1 class="mt-5">4. Flex -
        <small>
            <a href="https://getbootstrap.com/docs/4.0/utilities/flex/" target="_blank">Documentação Oficial</a>
        </small>
    </h1>
    <hr>

    <!-- Flex -->
    <div class="d-flex flex-column-reverse p-2">
        <div class="align-self-end">1</div>
        <div class="align-self-center">2</div>
        <div class="align-self-start">3</div>
    </div>

    <h1 class="mt-5">5. Imagens -
        <small>
            <a href="https://getbootstrap.com/docs/4.0/content/images/" target="_blank">Documentação Oficial</a>
        </small>
    </h1>
    <hr>

    <!-- Imagens -->
    <div class="p-2">
        <img src="/imgs/img1.png" alt="Imagem 1" class="mx-auto d-block" width="400px">
        <img src="/imgs/img1.png" alt="Imagem 1" class="img-thumbnail" width="400px">
        <img src="/imgs/img1.png" alt="Imagem 1" class="img-fluid" width="400px">
    </div>

    <h1 class="mt-5">6. Float -
        <small>
            <a href="https://getbootstrap.com/docs/4.0/utilities/float/" target="_blank">Documentação Oficial</a>
        </small>
    </h1>
    <hr>

    <!-- Float -->
    <div class="my-1 p-3 float-left">1</div>
    <div class="my-1 p-3 float-right">2</div>
    <div class="my-1 p-3 float-lg-right">3</div>

</div>

<style>
    .exercicio div {
        border: solid 8px #000;
        font-size: 2rem;
    }
</style>