<div class="jumbotron p-4 my-1">
    <h1 class="display-4">
        Sistema de Grid
    </h1>
    <p class="lead m-1">Alguns recursos importantes do Bootstrap</p>
</div>

<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#/bemVindo.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Sistemas de Grid</li>
    </ol>
</nav>

<p class="lead">
    <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_black">Documentação Oficial</a>
</p>

<div class="exercicio">
    <h1>1. Grid Básica</h1>
    <hr>

    <!-- Grid Básica -->
    <div class="container-fluid">
        <div class="row">
            <div class="col bg-primary">1</div>
            <div class="col bg-danger">2</div>
            <div class="col bg-warning">3</div>
            <div class="col bg-info">4</div>
            <div class="col bg-secondary">5</div>
        </div>
        <div class="row mt-3">
            <div class="col bg-danger">1</div>
            <div class="col-4 bg-warning">2</div>
            <div class="col-5 bg-info">3</div>
            <div class="col bg-primary">4</div>
        </div>
    </div>

    <h1 class="mt-5">2. Grid Responsiva</h1>
    <hr>

    <!-- Grid Responsiva -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-primary">1</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-danger">2</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-warning">3</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-info">4</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-success">5</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-secondary">6</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-danger">7</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-info">8</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-success">9</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-secondary">10</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-warning">11</div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 bg-primary">12</div>
        </div>
    </div>

    <h1 class="mt-5">3. Quebra de Linha</h1>
    <hr>

    <!-- Quebra de Linha -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 bg-primary">1</div>
            <div class="col-3 bg-danger">2</div>
            <div class="w-100"></div>
            <div class="col-3 bg-warning">3</div>
        </div>
    </div>

    <h1 class="mt-5">4. Ordem</h1>
    <hr>

    <!-- Ordem -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 order-5 bg-primary">1</div>
            <div class="col-4 order-12 bg-danger">2</div>
            <div class="col-4 order-1 bg-warning">3</div>
        </div>
    </div>

    <h1 class="mt-5">5. Offset</h1>
    <hr>

    <!-- Offset -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 offset-7 bg-primary">1</div>
            <div class="col-4 offset-3 bg-danger">2</div>
            <div class="col-6 offset-1 bg-warning">3</div>
        </div>
    </div>

    <h1 class="mt-5">6. Alinhamento</h1>
    <hr>

    <!-- Alinhamento -->
    <div class="container-fluid">
        <div class="row h-300">
            <div class="col-4 align-self-end bg-primary">1</div>
            <div class="col-4 align-self-center bg-danger">1</div>
            <div class="col-4 align-self-start bg-warning">1</div>
        </div>
    </div>

</div>

<style>
    .exercicio div {
        font-size: 1.5em;
    }

    .h-300 {
        height: 300px;
    }
</style>